*{
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link,a:visited {
    text-decoration: none;
}
a:hover,a:active{
    text-decoration: underline;
}

.title{
    color: antiquewhite;
    background-color: saddlebrown;
}
#wb-name{
    text-decoration: none;
    
    color: antiquewhite;
}

nav{
    background-color: red;
}
.menu-a div{
    float: left;
    display: inline-block;
}
.menu-d{
    width: 67%;
    margin:  -35px   0 0; /*消除header和menu之間的空白*/
    
}
.search-block{
    width: 33%;
    background-color: blue;
    text-align: center;
    padding: 1% 0 ;
    margin:  -17px   0 0; /*消除header和menu之間的空白*/
    color: white;
    font-size: 15px;
}
.menu-c{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}
nav a {
    color: white; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 18px;
    text-decoration: none; /* 移除超連結底線 */
  }



