*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.navbar{
    background-color: grey;
    margin-bottom: 20px;
}

.navbar .navbar-brand{
    font-size: 2em;
    margin-left: 20px;
}

.nav-item{
    margin-left: auto;
    margin-right: auto;
}











[class*="col"]{
    float: left;
    padding: 10px;
}

.content{
    padding: 2.5em 1em 0.5em 1em ;
    background-color: grey;
    border: 1px solid black;

}

.food{
    text-align: center;
    border: 1px solid black;
    width: 8em;
    height: 2em;
    float: right;
    font-weight: bold;
    padding-top: 5px;
    font-size: 1.2em;
}

#chicken{
    background-color: pink;
    color: black;
}
#beef{
    background-color: orangered;
    color: white;
}
#sushi{
    background-color: blanchedalmond;
    color: black;
}








 /*for large device*/
 @media(min-width : 992px){
    col-lg-4 {
        display: inline-block;
    }
    .col-lg-4{
        width:33%
    }
}

/*for median device*/ 
@media(min-width : 768px) and (max-width:991px){
    col-md-6 {
        display: inline-block;
    }
    col-md-12 {
        display: inline-block;
    }
    .col-md-6{
        width:50%
    }
    .col-md-12{
        width:100%
    }
    .content{
        font-size: 1.2em;
    }
    .food{
        font-size: 1.44em;
    }
}
/*for small device*/ 
@media (max-width:767px){
    col-sm-12 {
        display: inline-block;
    }
    .col-sm-12{
        width:100%
    }
    .content{
        font-size: 1.4em;
    }
    .food{
        font-size: 1.68em;
    }
}